html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #555454;
}

.content {
  max-width: 66rem;
  margin: 4rem auto;
}

.form {
  font-family: Arial, Tahoma, sans-serif;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  margin: 0 3rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
}

.form-message {
  flex: 1 1 60%;
  padding: .4rem 1.4rem;
}

.form-deadline {
  flex: 1 1 30%;
}

.form-submit {
  flex: 1 1 10%;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .form-message {
    text-align: center;
    flex: 1 1 100%;
    margin-bottom: 1.6rem;
  }
  .form-deadline {
    text-align: center;
    flex: 1 1 70%;
  }
  .form-submit {
    flex: 1 1 30%;
    text-align: center;
  }
}

input {
  height: 2.2rem;
  border-radius: 20px;
  padding: 1.2em;
  font-size: 1rem;
  outline: none;
  border: 0 solid rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

input:focus {
  box-shadow: 0 0 20px rgba(67, 195, 255, 0.5);
}

input:focus, button:focus {
  outline: none;
}

.form-message input {
  width: 85%;
}

.form-deadline input {
  width: 65%;
}

label {
  padding: 0 10px 0 0;
  letter-spacing: .03em;
}

.form-button {
  padding: .8rem;
  border-radius: 22px;
  font-size: .9rem;
  background: lightgray;
  border: 0 solid rgba(100, 100, 100, 0.3);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  transition: .3s all;
}

.form-button:hover {
  background: rgba(100, 100, 100, 0.6);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.form-button:active {
  background: white;
  color: #616161;
}

.tasks-list {
  font-family: Arial, Tahoma, sans-serif;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  margin: 0 3rem;
  border-radius: 50px;
}

.tasks-list-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
}

.tasks-list-title {
  flex: 1 1 44%;
  padding-left: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
}

.tasks-search-form {
  flex: 1 1 56%;
}

.tasks-search-form input {
  width: 80%;
}

@media screen and (max-width: 950px) {
  .tasks-list-title {
    flex: 1 1 100%;
    order: 2;
    padding-left: 1.6rem;
  }
  .tasks-search-form {
    flex: 1 1 100%;
    order: 1;
    padding-bottom: 2rem;
    padding-left: 1.6rem;
  }
  .tasks-search-form input {
    width: 80%;
  }
  .tasks-search-form label {
    padding-right: 2rem;
  }
}

.task {
  border-top: 1px solid #ddd;
  margin: 1rem 2rem 0;
  padding: 1.2rem 2rem;
}

.task-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  font-size: .8rem;
}

.task-delete {
  color: #a1a1a1;
  border: 0;
  font-size: 1.2rem;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: 0.2s all;
}

.task-delete:hover {
  color: black;
}

.task-text {
  color: #777;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */